@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  /* border: dashed 1px green; */
  background-image: url("../images/pattern-curve.svg");
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 85%;
  font-family: "Inter", sans-serif;
}

.Main {
  /* border: solid 1px green; */
  height: 99vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Card {
  /* border: solid 1px brown; */
  width: 80%;
  height: 90%;
}

.Avatar__container {
  /* border: solid 1px red; */
  width: 100%;
  height: 35rem;
  background-image: url("../images/pattern-bg.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: right;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-top: 6rem;
}

.Avatar__image--container {
  /* border: solid 2px orange; */
  height: 80%;
  width: 80%;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: -40px 75px 50px -60px hsl(240, 38%, 70%);
}

.Avatar__image {
  width: 100%;
  height: 100%;
}

.Buttons {
  /* border: solid 2px Red; */
  width: 8rem;
  height: 4rem;
  position: absolute;
  border-radius: 20px;
  top: 27.5rem;
  display: flex;
  justify-content: center;
  background-color: white;
}

.Button {
  width: 4rem;
  border: none;
  border-radius: 0 20px 20px 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25%;
}

.Left {
  border-radius: 20px 0 0 20px;
  background-image: url("../images/icon-prev.svg");
  background-color: white;
}

.Right {
  border-radius: 0 20px 20px 0;
  background-image: url("../images/icon-next.svg");
  background-color: white;
}

.Info__container {
  /* border: solid 1px violet; */
  width: 100%;
  height: 32rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Info__phrase {
  width: 100%;
  height: 18rem;
  padding-top: 2.5rem;
  text-align: center;
  /* border: solid 1px rgb(58, 148, 85); */
  background-image: url("../images/pattern-quotes.svg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 20%;
  font-size: 1.7rem;
  font-weight: 300;
  color: hsl(240, 38%, 20%);
  line-height: 2.3rem;
}

.Info__person {
  width: 15rem;
  height: 8rem;
  /* border: solid 1px rgb(99, 16, 74); */
  text-align: center;
}

.Person__name {
  font-size: 1.6rem;
  color: hsl(240, 38%, 20%);
}

.Person__jobTitle {
  font-size: 1.6rem;
  font-weight: 300;
  color: hsl(240, 18%, 77%);
}

@media screen and (min-width: 1280px) {
  body {
    overflow-y: hidden;
    background-size: 40%;
  }

  .Card {
    width: 90%;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-areas: "Info Avatar";
  }

  .Avatar__container {
    height: 100%;
    grid-area: Avatar;
    justify-content: center;
    background-size: cover;
    padding-top: 1rem;
  }

  .Avatar__image--container {
    height: 53rem;
    width: 50rem;
    margin-left: -18rem;
  }

  .Buttons {
    top: 54rem;
    left: -6rem;
    z-index: 1;
  }

  .Info__container {
    height: 100%;
    grid-area: Info;
    box-sizing: content-box;
    padding-top: 20rem;
    padding-left: 8rem;
    display: block;
    position: relative;
  }

  .Info__phrase {
    padding-top: 4rem;
    font-size: 2.9rem;
    text-align: left;
    line-height: 4.2rem;
    height: 27rem;
    width: 75%;
    z-index: 0;
    position: absolute;
    background-size: 15%;
    background-position-y: top;
    background-position-x: 7rem;
    color: hsl(240, 38%, 20%);
  }

  .Info__person {
    width: 40rem;
    position: absolute;
    top: 49rem;
    font-size: 2rem;
    display: flex;
  }

  .Person__name {
    margin-right: 0.5rem;
  }
}

@media screen and (min-width: 1440px) {
  .Avatar__container {
    height: 100%;
    background-size: contain;
  }

  .Avatar__image {
    height: 60rem;
    width: 60rem;
  }
  .Buttons {
    top: 66.5rem;
    left: 2rem;
    z-index: 1;
  }

  .Info__container {
    padding-top: 25rem;
  }

  .Person__name {
    font-size: 2.5rem;
    margin-right: 2rem;
  }

  .Person__jobTitle {
    font-size: 2.5rem;
  }
}
